HELICONE_API_KEY="sk-helicone-hudpjxa-qf7ehpi-wf2l2yq-ntw4xlq"
HELICON_GATEWAY="http://10.1.70.220:3080"  # Change for self-hosted
OPENAI_TARGET_URL="https://api.tokenpony.cn/v1"
OPENAI_API_KEY="sk-3bb0e8eaf"
