SUPABASE_URL=https://cvqfvkbdchilbvieplsr.supabase.co
# SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImN2cWZ2a2JkY2hpbGJ2aWVwbHNyIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzgyMjI2NDcsImV4cCI6MjA5Mzc5ODY0N30.ETTbB6x4IqvX5XQ08BZjO2koTLou54PaVmr26O82GgQ
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImN2cWZ2a2JkY2hpbGJ2aWVwbHNyIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3ODIyMjY0NywiZXhwIjoyMDkzNzk4NjQ3fQ.Bw-DR6FcDWpVbsEsHJp4eajMsO8x1YEzUd2U7Sl3FwY
PORT=3000
DB_PASSWORD=4b7O0niRoPV6RK03
