LANGFUSE_LOG_LEVEL="DEBUG"
LANGFUSE_SECRET_KEY="sk-lf-9ce3e768-761d-49d9-a7af-3825896ed16d"
LANGFUSE_PUBLIC_KEY="pk-lf-6c318961-39db-4569-9ce2-6edc776973a2"
LANGFUSE_BASE_URL="http://192.168.31.214:3000"
OPENAI_BASE_URL='https://plan.tokenpony.cn/v1'
OPENAI_API_KEY='ck-abcdefghijk3458fb42469fb9ba01802'
