<h3>New a project</h3>
<p>
    <i>ng new [project name] | [--directory angluar2-cli] | [--prefix app]</i>
</p>
<h3>generate components / service / guard / directives with same folder / inline template / inline style</h3>
<p> <i>ng g ([c] | [s] | [g] | [d]) | [--flat] | [-it] | [-is]</i> </p>
<p><i>ng g route &lt;route name&gt;</i></p>
<h3>destroy components / service / guard / directives</h3>

<h3>Build and dev</h3>
<p>WHEN YOU ARE IN DEVELOPMENT: <i>ng server [--port 9000]</i></p>
<p>WHEN YOU ARE IN PRODUCTION: <i>ng build</i></p>
<h3>other commands</h3>
<p><i>ng lint, ng test</i></p>