:host {
  .header {
    display: flex;
    padding: 10px 20px;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    .title {
      font-size: 1.5em;
    }

    .actions {
    }
  }
  .mat-card {
    margin: 10px;
  }
}
